{% extends "base.twig" %}
{% block content %}
    <form action="/post" method="post" enctype="multipart/form-data">
        <input name="title" type="text" placeholder="text"><br>
        <textarea name="body" title="body"></textarea>
        <input type="submit">
    </form>
{% endblock %}